<tr class="row" *ngIf="torrent.title.includes(filter)">
  <td class="col-3">
    {{ torrent.date | date:'short' }}
  </td>
  <th scope="row" class="col-6">
      {{ cleanTitle(torrent.title) }}
      <!-- {{ torrent.title }} -->
  </th>
  <td class="col-3 text-right">
    <span class="link">{{ formatBytes(torrent.size_bytes) }}</span>
    <a class="link" href="{{torrent.torrent_url}}">
      <i class="fas fa-fw fa-file-download"></i>
    </a>
    <a class="link" [href]="sanitize(torrent.magnet_url)">
      <i class="fas fa-fw fa-magnet"></i>
    </a>
  </td>
</tr>
